<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="../static/error.css">
</head>
<body>
    <div class="all">
        <div class="wrapper">
            <div class="itemLeft item1">Error404</div>
            <div class="itemLeft item2">Error404</div>
            <div class="itemLeft item3">Error404</div>
            <div class="itemLeft item4">Error404</div>
            <div class="itemLeft item5">Error404</div>
            <div class="itemLeft item6">Error404</div>
            <div class="itemLeft item7">Error404</div>
            <div class="itemLeft item8">Error404</div>
          </div>

          <div class="errorMsg">
            <div class="error">
                Error 404
            </div>
            <div class="msg">
                Page Not Found
            </div>
            
          </div>

          <div class="wrapper wrapperDown">
            <div class="itemRight item1">Error404</div>
            <div class="itemRight item2">Error404</div>
            <div class="itemRight item3">Error404</div>
            <div class="itemRight item4">Error404</div>
            <div class="itemRight item5">Error404</div>
            <div class="itemRight item6">Error404</div>
            <div class="itemRight item7">Error404</div>
            <div class="itemRight item8">Error404</div>
          </div>
    </div>
</body>
</html>