<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/home.css">
    </head>
    <body>
        <!-- Main page content -->
        <div class="dynamic-island">
            <div class="island-content">
                <a href="/">
                    <img src="../images/Home.png" class="icon" title="Home">
                </a>
                <a href="/signin">
                    <img src="../images/Plus.png" class="icon" title="Create Post">
                </a>
                <a href="/signin">
                    <img src="../images/Profile.png" class="icon profile-icon" title="Profile">
                </a>
            </div>
        </div>
        <h1 id="title">Forum</h1>
        <div class="containers">
            <div class="filters"></div>
                <div class="posts">
                    {{range .Posts}}
                    <div class="postWithOptions">
                        <div class="post">
                            <p class="postAuthor">@{{.Username}}</p>
                            <h2 class="postTitle">{{.Title}}</h2>
                            <input type="hidden" name="post_id" value="{{.ID}}">
                            <h4 class="postContent">{{.Content}}</h4>
                            {{if .ImagePath}}
                            <div class="imageContainer">
                                <img src="{{.ImagePath}}" alt="image" class="postImage">
                            </div>
                            {{end}}
                        </div>
                        <div class="postOptions">
                            <div class="option">
                                <form action="/like" method="POST">
                                    <input type="hidden" name="post_id" value="{{.ID}}">
                                    <button type="submit" class="button">
                                        <img src="../images/like-filled.png" alt="" class="likeIcon">
                                    </button>
                                </form>
                                <p class="counters">{{.Likes}}</p>
                            </div>
                            <div class="option">
                                <form action="/dislike" method="POST">
                                    <input type="hidden" name="post_id" value="{{.ID}}">
                                    <button type="submit" class="button">
                                        <img src="../images/dislike-filled.png" alt="" class="dislikeIcon">
                                    </button>
                                </form>
                                <p class="counters">{{.Dislikes}}</p>
                            </div>
                            <div class="option">
                                <a href="/#login">
                                    <img src="../images/comments.png" class="commentIcon">
                                </a>
                                <p class="counters">2</p>
                            </div>
                        </div>
                    </div>
                    {{end}}
            </div>
        </div>
    </body>
</html>
