<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/home.css">
</head>

<body>
    <!-- Main header with logo and dynamic island -->
    <div id="header-container">
        <img src="../images/snowlinelogoshadow.png" alt="Logo" class="logo">
        <div class="dynamic-island">
            <div class="island-content">
                <a href="/">
                    <img src="../images/Home.png" class="icon" title="Home">
                </a>
                <a href="#createPostPopup">
                    <img src="../images/Plus.png" class="icon" title="Create Post">
                </a>
                <a href="/Profile-page">
                    <img src="../images/Profile.png" class="icon profile-icon" title="Profile">
                </a>
                <a href="/#logout-confirmation">
                    <img src="../images/logout.png" alt="Logout" class="icon logout-icon">
                </a>
            </div>
        </div>
    </div>

    <!-- Popups for login, create post, and logout confirmation -->
    <div id="login" class="popup">
        <div class="backtrack" style="width: 100%; height: 100px; position: absolute;"></div>
        <div class="popup-content">
            <a href="/" class="popup-close">
                <img src="../images/close-tab-svgrepo-com.png" alt="Close">
            </a>
            <h2 class="logtitle">LOGIN</h2>
            <form action="/signin" method="POST" class="loginForm">
                <input name="email" placeholder="Email Address or Username" maxlength="254" minlength="9" required>
                <input type="password" name="password" placeholder="Passwords" maxlength="100" minlength="0" required>
                <input type="submit" value="Login">
                <a href="/register" id="regred">Don't Have an Account? Register!</a>
            </form>
        </div>
    </div>

    <!-- Create Post Popup -->
    <div id="createPostPopup" class="popup">
        <div class="popup-content">
            <a href="/" class="popup-close">
                <img src="../images/close-tab-svgrepo-com.png" alt="Close">
            </a>
            <h2 class="logtitle">CREATE POST</h2>
            <form action="/save-post" method="POST" class="createPostForm" enctype="multipart/form-data">
                <div class="textarea-container">
                    <textarea placeholder="Start typing!" name="content" rows="8" maxlength="2000" required></textarea>
                    <input type="file" id="image" name="image" hidden>
                    <label for="image" class="upload-icon">
                        <img src="../images/paperclip-vertical.png" alt="Upload">
                    </label>
                </div>
                <input type="checkbox" id="toggleCategories" hidden>
                <label for="toggleCategories" class="upload-button">Categories</label>
                <fieldset class="category-checkboxes">
                    <input type="checkbox" id="sports" name="category" value="Sports">
                    <label for="sports">Sports</label>

                    <input type="checkbox" id="gaming" name="category" value="Gaming">
                    <label for="gaming">Gaming</label>

                    <input type="checkbox" id="art" name="category" value="Art">
                    <label for="art">Art</label>

                    <input type="checkbox" id="music" name="category" value="Music">
                    <label for="music">Music</label>

                    <input type="checkbox" id="food" name="category" value="Food">
                    <label for="food">Food</label>

                    <input type="checkbox" id="random" name="category" value="Random" checked required>
                    <label for="random">Random</label>
                </fieldset>
                <input type="submit" value="Submit Post">
            </form>
        </div>
    </div>

    <!-- Logout confirmation popup -->
    <div id="logout-confirmation" class="popup">
        <div class="popup-content">
            <h1>ARE YOU SURE YOU WANT TO LOGOUT?</h1>
            <form action="/logout" method="POST">
                <button type="submit" class="button">
                    YES
                </button>
            </form>
            <h1>
                <a href="/">NO</a>
            </h1>
        </div>
    </div>
    <input type="checkbox" id="filter-toggle" class="filter-checkbox">
    <label for="filter-toggle" class="filter-toggle-button">
        <img src="../images/right.png" alt="Close">
    </label>
    <div class="containers">
        <div class="filters">
            <fieldset class="category-checkboxes-filters">
                <input type="checkbox" id="sports" name="category" value="Sports">
                <label for="sports">Sports</label>

                <input type="checkbox" id="gaming" name="category" value="Gaming">
                <label for="gaming">Gaming</label>

                <input type="checkbox" id="art" name="category" value="Art">
                <label for="art">Art</label>

                <input type="checkbox" id="music" name="category" value="Music">
                <label for="music">Music</label>

                <input type="checkbox" id="food" name="category" value="Food">
                <label for="food">Food</label>

                <input type="checkbox" id="random" name="category" value="Random" checked required>
                <label for="random">Random</label>
            </fieldset>
        </div>
        <div class="posts">
            {{range .Posts}}
            <div class="postWithOptions">
                <div class="post {{if not .ImagePath}}noImage{{end}}">
                    <input type="hidden" name="post_id" value="{{.ID}}">
            
                    <!-- Body of the post, with profile, content, and image side-by-side -->
                    <div class="postBody">
                        <div class="postTop">
                            <div class="postHeader">
                                <img src="{{.ProfilePic}}" alt="" class="postPFP">
                                <p class="postAuthor">@{{.Username}}</p>
                            </div>
                            <div class="postContentContainer {{if not .ImagePath}}noImage{{end}}">
                                <p class="postContent">{{.Content}}</p>
                            </div>
                            {{if .ImagePath}}
                            <div class="imageContainer">
                                <img src="{{.ImagePath}}" alt="image" class="postImage">
                            </div>
                            {{end}}
                            <div class="postOptions">
                                <div class="option">
                                    <form action="/like" method="POST">
                                        <input type="hidden" name="post_id" value="{{.ID}}">
                                        <button type="submit" class="button">
                                            <img src="../images/like-filled.png" alt="Like" class="likeIcon">
                                        </button>
                                    </form>
                                    <p class="counters">{{.Likes}}</p>
                                </div>
                                <div class="option">
                                    <form action="/dislike" method="POST">
                                        <input type="hidden" name="post_id" value="{{.ID}}">
                                        <button type="submit" class="button">
                                            <img src="../images/dislike-filled.png" alt="Dislike" class="dislikeIcon">
                                        </button>
                                    </form>
                                    <p class="counters">{{.Dislikes}}</p>
                                </div>
                                <div class="option">
                                    <a href="/#comment-popup">
                                        <img src="../images/comments.png" class="commentIcon" alt="Comments">
                                    </a>
                                    <p class="counters">{{.Comments}}</p>
                                </div>
                            </div>
                            <p class="postDate">{{.CreatedAt}}</p>
                        </div>
                        
                        <!-- Optional image container -->
                    </div>
                </div>
            
                <!-- Popup for adding a comment -->
                <div id="comment-popup" class="popup">
                    <div class="popup-content">
                        <div class="comment-content">
                            <a href="/" class="popup-close">
                                <img src="../images/close-tab-svgrepo-com.png" alt="Close">
                            </a>
                            <h1 class="logtitle">Enter Your Comment!</h1>
                            <div class="comment-bar">
                                <form action="/savecomment" method="POST" align="center">
                                    <input type="hidden" name="post_id" value="{{.ID}}">
                                    <textarea placeholder="Start typing!" name="content" rows="8" maxlength="2000" required></textarea>
                                    <button type="submit">
                                        Comment
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            {{end}}
        </div>
    </div>
</body>

</html>