<!DOCTYPE html>
<html lang="en">

<head>
    <title>Post Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/post.css">
</head>

<body>
    <div class="postAll">
        <p class="postAuthor">The post was made by @moa</p>
        <h2 class="postTitle">I farted.</h2>
        <p class="postContent">Farting, often seen as a humorous and sometimes embarrassing bodily function, has a long history that dates back to ancient times. This natural occurrence, scientifically known as flatulence, can be triggered by various factors, including the digestion of certain foods, swallowing air, and even emotional states. While some might cringe at the thought of letting one rip in public, others embrace the laughter and lightheartedness it can bring to social situations. In fact, farting has been the subject of jokes, songs, and even art, showcasing its ability to unite people through shared giggles. So, the next time you feel a rumble in your stomach, remember that it’s just your body doing what it’s designed to do—creating a little symphony of sounds that can lighten the mood and spark a conversation!</p>
        <div class="comments">
            <div class="comment">
                <img src="../images/Profile.png" alt="User Icon" class="commentIcon">
                <p class="commentUsername">@ak1</p>
                <p class="commentText">Kill yourself bro.</p>
            </div>
            <div class="comment">
                <img src="../images/Profile.png" alt="User Icon" class="commentIcon">
                <p class="commentUsername">@aaburowais</p>
                <p class="commentText">can I make out with you</p>
            </div>
            <div class="comment">
                <img src="../images/Profile.png" alt="User Icon" class="commentIcon">
                <p class="commentUsername">@snader</p>
                <p class="commentText">hello daddy ;)</p>
            </div>
            <div class="comment">
                <img src="../images/Profile.png" alt="User Icon" class="commentIcon">
                <p class="commentUsername">@ak1</p>
                <p class="commentText">Kill yourself bro.</p>
            </div>
            <div class="comment">
                <img src="../images/Profile.png" alt="User Icon" class="commentIcon">
                <p class="commentUsername">@aaburowais</p>
                <p class="commentText">can I make out with you</p>
            </div>
            <div class="comment">
                <img src="../images/Profile.png" alt="User Icon" class="commentIcon">
                <p class="commentUsername">@snader</p>
                <p class="commentText">hello daddy ;)</p>
            </div>
        </div>
    </div>
</body>