<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    {{range .Posts}}
    <div class="post">
        <h2 id="postTitle">{{.Title}}</h2>
        <input type="hidden" name="post_id" value="{{.ID}}">
        <img src="{{.ImagePath}}" alt="image">
        <h4>{{.Content}}</h4>
        <p id="postAuthor">@{{.Username}}</p>
        <div class="rightSide">
            <img src="../images/like-filled.png" class="likeIcon">
            <p class="counters">30</p>
            <img src="../images/dislike-filled.png" class="dislikeIcon">
            <p class="counters">1</p>
            <img src="../images/comments.png" class="commentIcon">
            <p class="counters">2</p>
        </div>
    </div>
    {{end}}
</body>
</html>