<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registration Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/register.css">
</head>


<body>
    <div class="login-container">
        <h1 class="title">LOGIN</h1>
        <form action="/signin" method="POST" class="registerForm">
            <input type="email" placeholder="Email Address or Username"  name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="submit" value="Sign In">
        </form>
        <a href="/register" id="regred">Don't Have an Account? Register!</a>
    </div>
    <a href="/" class="back-button">
        <img src="../images/Home.png" class="icon">
    </a>
</body>

</html>