<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/home.css">
</head>

<body>
    <div class="dynamic-island">
        <div class="island-content">
            <a href=""><img src="../images/Artboard 3.png" class="icon"></a>
            <a href=""><img src="../images/Artboard 2.png" class="icon"></a>
            <a href=""><img src="../images/Artboard 1.png" class="icon profile-icon"></a>
        </div>
    </div>
    
    <h1 id="title">Forum</h1>
    
    <div class="containers">
        <div class="filters">
        
        </div>
        <div class="posts">
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
        </div>
    </div>   
     
    
</body>

</html>