<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/profile.css">
    <title>Profile Page</title>
</head>
<body>

    <div class="all">
        <div class="pfp">
            <img src="../images/Artboard 1.png" alt="">
        </div>
        <div class="name">
            <p>Moa</p>
        </div>
        <hr id="content-break">
        <div class="nav">
            <a href="#posts" class="options-link"><div class="options"><img src="../images/like-filled.png" alt="Like"></div></a>
            <a href="#posts" class="options-link"><div class="options"><img src="../images/comments.png" alt="Comments"></div></a>
            <a href="#posts" class="options-link"><div class="options"><img src="../images/dislike-filled.png" alt="Dislike"></div></a>
        </div>

        
        <div id="posts" class="posts">
            <div id="npost">Number Of Posts: 6</div>
            <a href="#" id="close"><div class="close">Close</div></a>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
        </div>
    </div>
</body>
</html>
