body {
    font-family: Arial, sans-serif;
    background-image: url(../images/backgroundhome.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #564F6F;
}

.button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* --- DYNAMIC ISLAND STYLES --- */

#header-container {
    display: flex;
    align-items: center;
    /* Vertically center the logo and dynamic island */
    justify-content: center;
    width: 100%;
}

.logo {
    position: fixed;
    z-index: 1;
    width: 250px;
    height: auto;
    margin-top: 45px;
}

.logo2 {
    position: fixed;
    z-index: 1;
    width: 200px;
    height: auto;
    margin-top: 47.5px;
}

.dynamic-island {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #802BB1;
    color: #ffffff;
    border-radius: 50px;
    padding: 12px 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.island-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.icon {
    height: 1.8rem;
    width: 1.8rem;
}

.logout-icon {
    height: 2rem;
    width: 2rem;
}

/* --- END --- */



/* --- FILTERS AND POSTS STYLES --- */

.containers {
    display: flex;
    flex-direction: row;
    /* Side-by-side layout for larger screens */
    margin-top: 200px;
    align-items: flex-start;
    gap: 3rem;
    padding-left: 0;
}

/* Hide the checkbox visually, but it still controls the toggle */
.filter-checkbox {
    display: none;
}

/* Style the toggle button */
.filter-toggle-button {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #802BB1;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Sidebar is hidden by default */
.filters {
    position: fixed;
    top: 60px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    width: 250px;
    height: 90%;
    background-color: #352d4d;
    padding: 20px;
    border-radius: 3rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Show filters when checkbox is checked */
.filter-checkbox:checked~.containers .filters {
    transform: translateX(0);
}

.posts {
    width: 70%;
    /* Dynamic width for larger screens */
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #352d4d;
    padding: 3rem 0 4rem 0;
    gap: 2rem;
    margin: 0 auto;
    /* Center the posts section */
}

.post {
    background-color: #564F6F;
    width: 500px;
    height: 500px;
    /* Adjust height as needed */
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* Center items vertically */
    justify-content: space-evenly;
    /* Space between left and right content */
    padding: 10px;
    /* Optional padding inside the post */
    position: relative;
    /* Position relative to contain the absolute child */
    animation: appear linear;
    flex-direction: column;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.postTitle {
    margin: 0px;
    font-size: 1.5em;
    text-decoration: underline;
    /* Underline the title */
    color: #D1D7E0;
    /* Ensure text color is consistent */
}

.postContent {
    font-size: 1.2em;
    color: #D1D7E0;
    margin: 0px;
}

.imageContainer {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.postPFP {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 20px; 
    left: 20px;
    border: 2px solid #fff;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8); 
}

.postImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 2em;
}

.postAuthor {
    margin: 0;
    font-size: 1.55em;
    color: #D1D7E0;
}

.postWithOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.postOptions {
    display: flex;
    /* Use flex to align icons and counters */
    align-items: center;
    /* Center items vertically */
    gap: 5px;
    /* Space between icons and counters */
    color: #D1D7E0;
    /* margin: 20px; This margin can be adjusted or removed */
    gap: 1em;
}

.likeIcon,
.dislikeIcon,
.commentIcon {
    width: 24px;
    /* Adjust icon size */
    height: 24px;
    /* Adjust icon size */
    margin-right: 2px;
    /* Space between icon and counter */
}

.option {
    display: flex;
    gap: 0.2em;
}

.counters {
    margin: 0;
    margin-top: 4px;
}


/* --- END --- */


/* --- END --- */



/* --- SCROLL BAR STYLES --- */

html::-webkit-scrollbar {
    width: 0.4vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #802BB1;
    border-radius: 3px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #8a71a6;
}

html::-webkit-scrollbar-track {
    background-color: #48355E;
}

/* --- END --- */



/* --- LOGIN POPUP STYLES --- */

input[name="email"],
input[type="password"] {
    transition-duration: 0.5s;
    width: 80%;
    color: #D1D7E0;
    background-color: #4C495D;
    font-size: 15px;
    padding: 10px;
    margin: 7px;
    border: 3px solid #564F6F;
    border-radius: 5px;
}

input[name="email"]::placeholder,
input[type="password"]::placeholder {
    transition-duration: 0.2s;
    color: #D1D7E0;
}

input[name="email"]:focus::placeholder,
input[type="password"]:focus::placeholder {
    color: #4C495D;
}

input[name="email"]:hover::placeholder,
input[type="password"]:hover::placeholder {
    transition-duration: 0.2s;
    color: #564F6F;
}

input[name="email"]:hover,
input[type="password"]:hover {
    transition-duration: 0.2s;
    background-color: #564F6F;
}

input[type="submit"] {
    transition-duration: 0.5s;
    font-size: 15px;
    width: 60%;
    padding: 10px;
    margin-top: 30px;
    background-color: #802BB1;
    color: #D1D7E0;
    border: 3px solid #802BB1;
    border-radius: 2rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    transition-duration: 0.5s;
    background-color: #802bb1c0;
    color: #D1D7E0;
    border: 3px solid #802bb100;
}

input[type="submit"]:not(:hover) {
    transition-duration: 0.5s;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#login:target,
#createPostPopup:target,
#logout-confirmation:target {
    display: flex;
}

.popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    width: 500px;
    height: auto;
    background-color: #2D283E;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    margin-top: -75px;
    padding-bottom: 6vh;
}

#login:target .popup-content {
    display: block;
    animation: slideFadeIn 0.5s forwards;
}

#logout-confirmation:target .popup-content {
    display: flex;
    animation: slideFadeIn 0.5s forwards;
}


.logtitle {
    font-family: fantasy, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-variant: small-caps;
    transition-duration: 0.5s;
    font-size: 3.3em;
    text-align: center;
    color: #802BB1;
    margin-top: 90px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 10vh;
}

#regred {
    text-decoration: none;
    margin-top: 20px;
    color: #802BB1;
}

#regred:hover {
    color: #9ca0a7;
}

.popup-close {
    position: absolute;
    top: 0;
    right: 16px;
    text-decoration: none;
    color: #802BB1;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    transition: opacity 0.5s;
}

.popup-close img {
    width: 25px;
    height: 25px;
}

/* --- END --- */


/* --- CREATE POST POPUP STYLES --- */
.createPostForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Ensures content is centered vertically */
    width: 90%;
    max-width: 600px; /* Optional to limit the maximum width */
    margin-top: 2vh;
    border-radius: 10px;
    padding: 20px;
}

/* Ensure input fields and textarea remain centered */
.createPostForm input[type="text"],
.createPostForm textarea {
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.5s;
    width: 80%;
    color: #D1D7E0;
    background-color: #4C495D;
    font-size: 15px;
    padding: 10px;
    margin: 7px;
    border: 3px solid #564F6F;
    border-radius: 5px;
}

.textarea-container {
    position: relative;
    display: flex;
    width: 90%;
}

.textarea-container textarea {
    width: 100%;
    box-sizing: border-box;
}

.upload-icon {
    position: absolute;
    bottom: 14px;
    right: 12px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.upload-icon:hover {
    opacity: 0.7;
}

.upload-icon img {
    width: 2rem;
    height: 2rem;
}

.createPostForm textarea {
    resize: none;
}

#createPostPopup:target .popup-content {
    display: block;
    animation: slideFadeIn 0.5s forwards;
}

#CreatePostPopup:not(:target) .popup-content {
    animation: slideFadeOut 0.5s forwards;
}

.createPostForm input[type="text"]::placeholder,
.createPostForm textarea::placeholder {
    transition-duration: 0.2s;
    color: #D1D7E0;
}

.createPostForm input[type="text"]:focus::placeholder,
.createPostForm textarea:focus::placeholder {
    color: #4C495D;
}

.createPostForm input[type="text"]:hover::placeholder,
.createPostForm textarea:hover::placeholder {
    transition-duration: 0.2s;
    color: #564F6F;
}

.createPostForm input[type="text"]:hover,
.createPostForm textarea:hover {
    transition-duration: 0.2s;
    background-color: #564F6F;
}

.createPostForm input[type="submit"] {
    position: relative;
    transition-duration: 0.5s;
    font-size: 15px;
    width: 60%;
    padding: 10px;
    background-color: #802BB1;
    color: #D1D7E0;
    border: 3px solid #802BB1;
    border-radius: 2rem;
    cursor: pointer;
}

.createPostForm input[type="submit"]:hover {
    background-color: #802bb1c0;
    border: 3px solid #802bb1c0;
}

.createPostForm #regred {
    text-decoration: none;
    margin-top: 20px;
    color: #802BB1;
}

.createPostForm #regred:hover {
    color: #9ca0a7;
}

fieldset {
    border: none;
}


.upload-button {
    display: flex;
    transition-duration: 0.5s;
    font-size: 15px;
    padding: 10px;
    color: #D1D7E0;
    background-color: #4C495D;
    border: 3px solid #564F6F;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 5px;
}

.upload-button:hover {
    background-color: #564F6F;
}

#toggleCategories:checked + .upload-button {
    background-color: #802BB1;  /* New background color */
    color: #FFFFFF;  /* Text color change */
    border-color: #802BB1;  /* Border color change */
}

.category-checkboxes {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 10px;
    width: 80%;
    transition: all 0.3s ease;
}

/* Display category checkboxes when the toggle is checked */
#toggleCategories:checked ~ .category-checkboxes {
    display: grid;
}

/* Label styling */
.category-checkboxes label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
    transition: 0.3s;
    color: #D1D7E0;
    background-color: #4C495D;
    border: 3px solid #564F6F;
    text-align: center;
}

.category-checkboxes label:hover {
    background-color: #564F6F;
    text-align: center;
}

/* Hide the checkbox inputs visually but keep them functional */
.category-checkboxes input[type="checkbox"] {
    display: none;
}

/* Change appearance when checkbox is checked */
.category-checkboxes input[type="checkbox"]:checked + label {
    color: #FFFFFF;
    background-color: #802BB1;
    border-color: #802BB1;
}
/* --- END --- */


/* --- comment popup --- */

#comment-popup:target {
    display: flex;
    animation: slideFadeIn 0.5s forwards;
}

#comment-popup {
    display: none;
    justify-content: center;
    align-content: center;
}

.comment-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.comment-bar textarea {
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.5s;
    width: 80%;
    color: #D1D7E0;
    background-color: #4C495D;
    font-size: 15px;
    padding: 10px;
    margin: 7px;
    border: 3px solid #564F6F;
    border-radius: 5px
}

.comment-bar textarea {
    resize: none;
}

.comment-bar textarea::placeholder {
    transition-duration: 0.2s;
    color: #D1D7E0;
}

.comment-bar textarea:focus::placeholder {
    color: #4C495D;
}

.comment-bar textarea:hover::placeholder {
    transition-duration: 0.2s;
    color: #564F6F;
}

.comment-bar textarea:hover {
    transition-duration: 0.2s;
    background-color: #564F6F;
}

/* --- end --- */


/* --- MEDIA QUERIES --- */

/* -- 4K -- */
@media (min-width: 1500px) {

    .logtitle {
        font-size: 4em;
    }

    .loginForm {
        margin-top: 10vh;
    }
}

/* -- LAPTOP 1024PX -- */
@media (max-width:1024px) {
    #title {
        font-size: 110px;
    }

    .icon {
        height: 1.8rem;
        width: 1.8rem;
    }

    .profile-icon {
        height: 1.8rem;
        width: 1.8rem;
    }

    .logout-icon {
        height: 2rem;
        width: 2rem;
    }

    .filters {
        width: 600px;
        height: 300px;
    }

    .posts {
        width: 700px;
    }

}

/* -- TABLET -- */
@media (max-width:768px) {

    /* Fix the filter toggle button to the top center of the screen */
    .filter-toggle-button {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1001;
        padding: 10px 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    /* Filters panel styles for header-like drop-down */
    .filters {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /* Optional limit to allow scrolling */
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        border-radius: 0 0 0rem 0rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    /* Display the filters panel as a header-like drop-down */
    .filter-checkbox:checked~.containers .filters {
        transform: translateY(0);
    }

    .dynamic-island {
        top: auto;
        /* Reset top position */
        bottom: 20px;
        /* Position at the bottom of the screen */
        transform: translateX(-50%);
        /* Center horizontally */
        padding: 15px 25px;
        /* Adjust padding for smaller screens */
    }

    .logo {
        position: fixed;
        bottom: 75px;
        left: 50%;
        transform: translateX(-50%);
        width: 225px;
        /* Resize for smaller screens */
        height: auto;
    }

    .logo2 {
        position: fixed;
        bottom: 75px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        /* Resize for smaller screens */
        height: auto;
        z-index: 1;
    }

    .containers {
        flex-direction: column;
        /* Stack items on top of each other */
        gap: 2rem;
        align-items: center;
        margin-bottom: 60px;
    }

    .post {
        width: 500px;
        height: 500px;
    }
}

@media (max-width:600px) {
    .popup-content {
        width: 350px;
    }
}

/* -- MOBILE L -- */
@media (max-width:515px) {

    .logo {
        bottom: 85px;
    }

    .logo2 {
        bottom: 82.5px;
    }

    .dynamic-island {
        bottom: 35px;
        /* Further down for smaller screen */
        padding: 12px 20px;
        /* Smaller padding for mobile */
    }

    .containers {
        flex-direction: column;
        /* Stack items on top of each other */
        gap: 2rem;
        align-items: center;
    }

    #title {
        font-size: 7rem;
    }

    .posts {
        width: 100%;
        /* Full width for posts */
    }

    .post {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 376px) {
    .popup-content {
        width: 300px;
    }
}

/* -- MOBILE S -- */
@media (max-width: 320px) {
    #title {
        text-align: center;
        font-size: 90px;
    }

    .popup-content {
        width: 280px;
    }

    .filters {
        width: 300px;
    }

    .posts {
        width: 300px;
    }

    .post {
        width: 270px;
        height: 270px;
    }
}

/* --- END --- */


/* --- KEYFRAMES --- */

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --- END --- */