body {
    font-family: Arial, sans-serif;
    background-color: #2D283E;
    color: #D1D7E0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

/* --- DYNAMIC ISLAND STYLES --- */

#header-container {
    display: flex;
    align-items: center;
    /* Vertically center the logo and dynamic island */
    justify-content: center;
    width: 100%;
}

.logo {
    position: fixed;
    z-index: 1;
    width: 225px;
    height: auto;
    margin-top: 62.5px;
}

.dynamic-island {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #802BB1;
    color: #ffffff;
    border-radius: 50px;
    padding: 12px 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.island-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.icon {
    height: 1.8rem;
    width: 1.8rem;
}

.logout-icon {
    height: 2rem;
    width: 2rem;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#login:target,
#createPostPopup:target,
#logout-confirmation:target {
    display: flex;
}

.popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    width: 500px;
    height: auto;
    background-color: #2D283E;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    margin-top: -75px;
    padding-bottom: 6vh;
}

#login:target .popup-content {
    display: block;
    animation: slideFadeIn 0.5s forwards;
}

#logout-confirmation:target .popup-content {
    display: flex;
    animation: slideFadeIn 0.5s forwards;
}


.logtitle {
    font-family: fantasy, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-variant: small-caps;
    transition-duration: 0.5s;
    font-size: 3.3em;
    text-align: center;
    color: #802BB1;
    margin-top: 90px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 10vh;
}

#regred {
    text-decoration: none;
    margin-top: 20px;
    color: #802BB1;
}

#regred:hover {
    color: #9ca0a7;
}

.popup-close {
    position: absolute;
    top: 0;
    right: 16px;
    text-decoration: none;
    color: #802BB1;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    transition: opacity 0.5s;
}

.popup-close img {
    width: 25px;
    height: 25px;
}

/* --- END --- */


/* --- CREATE POST POPUP STYLES --- */
.createPostForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Ensures content is centered vertically */
    width: 90%;
    max-width: 600px;
    /* Optional to limit the maximum width */
    margin-top: 2vh;
    border-radius: 10px;
    padding: 20px;
}

/* Ensure input fields and textarea remain centered */
.createPostForm input[type="text"],
.createPostForm textarea {
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.5s;
    width: 80%;
    color: #D1D7E0;
    background-color: #4C495D;
    font-size: 15px;
    padding: 10px;
    margin: 7px;
    border: 3px solid #564F6F;
    border-radius: 5px;
}

.textarea-container {
    position: relative;
    display: flex;
    width: 90%;
}

.textarea-container textarea {
    width: 100%;
    box-sizing: border-box;
}

.upload-icon {
    position: absolute;
    bottom: 14px;
    right: 12px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.upload-icon:hover {
    opacity: 0.7;
}

.upload-icon img {
    width: 2rem;
    height: 2rem;
}

.createPostIcon {
    margin-top: 50px;
    width: 5rem;
    height: 5rem;
}

.createPostForm textarea {
    resize: none;
}

#createPostPopup:target .popup-content {
    display: block;
    animation: slideFadeIn 0.5s forwards;
}

#CreatePostPopup:not(:target) .popup-content {
    animation: slideFadeOut 0.5s forwards;
}

.createPostForm input[type="text"]::placeholder,
.createPostForm textarea::placeholder {
    transition-duration: 0.2s;
    color: #D1D7E0;
}

.createPostForm input[type="text"]:focus::placeholder,
.createPostForm textarea:focus::placeholder {
    color: #4C495D;
}

.createPostForm input[type="text"]:hover::placeholder,
.createPostForm textarea:hover::placeholder {
    transition-duration: 0.2s;
    color: #564F6F;
}

.createPostForm input[type="text"]:hover,
.createPostForm textarea:hover {
    transition-duration: 0.2s;
    background-color: #564F6F;
}

.createPostForm input[type="submit"] {
    position: relative;
    transition-duration: 0.5s;
    font-size: 15px;
    width: 60%;
    padding: 10px;
    background-color: #802BB1;
    color: #D1D7E0;
    border: 3px solid #802BB1;
    border-radius: 2rem;
    cursor: pointer;
}

.createPostForm input[type="submit"]:hover {
    background-color: #802bb1c0;
    border: 3px solid #802bb1c0;
}

.createPostForm #regred {
    text-decoration: none;
    margin-top: 20px;
    color: #802BB1;
}

.createPostForm #regred:hover {
    color: #9ca0a7;
}

fieldset {
    border: none;
}


.upload-button {
    display: flex;
    transition-duration: 0.5s;
    font-size: 15px;
    padding: 10px;
    color: #D1D7E0;
    background-color: #4C495D;
    border: 3px solid #564F6F;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 5px;
}

.upload-button:hover {
    background-color: #564F6F;
}

#toggleCategories:checked+.upload-button {
    background-color: #802BB1;
    /* New background color */
    color: #FFFFFF;
    /* Text color change */
    border-color: #802BB1;
    /* Border color change */
}

.category-checkboxes {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 10px;
    width: 80%;
    transition: all 0.3s ease;
}

/* Display category checkboxes when the toggle is checked */
#toggleCategories:checked~.category-checkboxes {
    display: grid;
}

/* Label styling */
.category-checkboxes label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
    transition: 0.3s;
    color: #D1D7E0;
    background-color: #4C495D;
    border: 3px solid #564F6F;
    text-align: center;
}

.category-checkboxes label:hover {
    background-color: #564F6F;
    text-align: center;
}

/* Hide the checkbox inputs visually but keep them functional */
.category-checkboxes input[type="checkbox"] {
    display: none;
}

/* Change appearance when checkbox is checked */
.category-checkboxes input[type="checkbox"]:checked+label {
    color: #FFFFFF;
    background-color: #802BB1;
    border-color: #802BB1;
}


/* --- END --- */

/* --- POST STYLES --- */

.postAll {
    background-color: #352d4d;
    border-radius: 20px;
    padding: 20px;
    margin-top: 120px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;
}

.postPFP {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #D1D7E0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.postAuthor {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #D1D7E0;
}

.postTitle {
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
    margin: 10px 0;
    color: #D1D7E0;
}

.postContent {
    font-size: 26px;
    text-align: center;
    margin: 10px 0;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    flex-shrink: 1;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 30%;
    height: 30%;
    border-radius: 1em;
    border: 2px solid #D1D7E0;
    overflow: hidden;
    margin-top: 20px;
}

.postImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.5em;
}

.textarea-container2 button {
    transition-duration: 0.5s;
    font-size: 15px;
    width: 100px;
    padding: 10px;
    margin-top: 30px;
    background-color: #802BB1;
    color: #D1D7E0;
    border: 3px solid #802BB1;
    border-radius: 2rem;
    cursor: pointer;
}

.textarea-container2 button:hover {
    background-color: #802bb1c0;
    color: #D1D7E0;
    border: 3px solid #802bb100;
}

/* --- COMMENTS STYLES --- */

.comments {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #564F6F;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 10px auto; /* Center the container */
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

.textarea-container2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #352d4d;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    align-self: center;
}

.textarea-container2 input[type="text"],
.textarea-container2 textarea {
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.5s;
    width: 80%;
    color: #D1D7E0;
    background-color: #4C495D;
    font-size: 15px;
    padding: 10px;
    margin: 0 auto;
    border: 3px solid #564F6F;
    border-radius: 20px;
    height: 75px;
}

.textarea-container2 textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.textarea-container2 input[type="text"]::placeholder,
.textarea-container2 textarea::placeholder {
    color: #D1D7E0;
}

.textarea-container2 input[type="text"]:focus::placeholder,
.textarea-container2 textarea:focus::placeholder {
    color: #4C495D;
}

.textarea-container2 input[type="text"]:hover::placeholder,
.textarea-container2 textarea:hover::placeholder {
    color: #564F6F;
}

.textarea-container2 input[type="text"]:hover,
.textarea-container2 textarea:hover {
    background-color: #564F6F;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 10px;
    border-bottom: 1px solid #7a728c;
    position: relative;
    width: 100%;
    gap: 20px;
}

.comment:last-child {
    border-bottom: none;
}

.commentStuff {
    display: flex;
    align-items: center; /* Vertically center all items within this div */
    justify-content: flex-start; /* Align items to the left (you can change to center if needed) */
    gap: 15px; /* Add space between items */
    width: 90%;
    background-color: #2D283E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 20px;
    margin-left: -18px;
}

.commentIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 0; /* Remove bottom margin */
    flex-shrink: 0;
}

.commentUsername {
    font-weight: bold;
    margin: 0; /* Remove bottom margin */
    display: flex;
    align-items: center; /* Vertically center the username with the icon */
    justify-content: flex-start; /* Keep it aligned to the left next to the icon */
}

.commentText {
    font-size: 16px;
    text-align: left;
    flex-grow: 1; /* Allow the text to grow to take available space */
    display: block; /* Change to block for normal text flow */
    word-wrap: break-word; /* Allows long words to break onto the next line */
    white-space: normal; /* Ensures that the text wraps correctly */
    overflow-wrap: break-word; /* Ensures long words break when necessary */
    width: 100%; /* Ensure the width takes up available space */
    word-break: break-word; /* Forcing the word to break if it's too long */
}

.commentDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    text-align: center;
    background-color: #2D283E;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.commentTime {
    font-size: 12px;
    color: #D1D7E0;
    margin-bottom: 5px;
}

.commentOptions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.commentOptions img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.commentOptions button {
    background: none;
    border: none;
    padding: 0;
}

.commentLike,
.commentDislike {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #D1D7E0;
}

.commentLikeIcon,
.commentDislikeIcon {
    display: inline-block;
    cursor: pointer;
}

/* --- MEDIA QUERIES --- */

@media (max-width: 768px) {
    body {
        overflow: scroll; /* Allow scrolling */
    }

    body::-webkit-scrollbar {
        display: none;
    }
    .postAll {
        width: 80%;
        padding: 15px;
        margin-top: 20px;
    }

    .commentIcon {
        width: 30px;
        height: 30px;
    }

    .postTitle {
        font-size: 30px;
    }

    .postContent {
        font-size: 20px;
    }

    .imageContainer {
        width: 50%;
        height: 50%;
    }
    .comment {
        flex-direction: column; /* Stack items vertically on mobile */
        align-items: center; /* Center items horizontally */
        justify-content: space-between;
    }
    .comments {
        width: 80%; /* Adjust width for better centering */
        margin-bottom: 120px;
    }

    .commentStuff {
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center content vertically */
        width: 90%;
        padding: 15px; /* Adjust padding for mobile */
    }

    .commentDetails {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto; 
        padding: 10px; 
        box-sizing: border-box; /* Ensures padding doesn't add to width */
        position: relative; /* Allow positioning relative to its parent */
        margin-right: 22px;
    }

    .commentUsername {
        margin-top: -12px;
        text-align: center; /* Center the username text */
    }

    .commentText {
        margin-top: -6px;
        text-align: center; /* Center the comment text */
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .dynamic-island {
        top: auto;
        /* Reset top position */
        bottom: 20px;
        /* Position at the bottom of the screen */
        transform: translateX(-50%);
        /* Center horizontally */
        padding: 15px 25px;
        /* Adjust padding for smaller screens */
    }

    .logo {
        position: fixed;
        bottom: 75px;
        left: 50%;
        transform: translateX(-50%);
        width: 225px;
        /* Resize for smaller screens */
        height: auto;
    }
}
