body {
    background-color: #2D283E;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif, Arial;
}

.button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}


/* --- SCROLL BAR STYLES --- */

html::-webkit-scrollbar {
    width: 0.4vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #802BB1;
    border-radius: 3px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #8a71a6;
}

html::-webkit-scrollbar-track {
    background-color: #48355E;
}

/* --- END --- */



/* --- OVERALL PAGE STYLES --- */

.all {
    display: grid;
    grid-template-columns: 30vw 70vw;
}

.container-hover:hover {
    transform: scale(1.05);
}

#home {
    height: 1em;
    width: 1em;
}
/* --- AHMED SHIT --- */
.homeContainer {
    height: 2em;
    width: 2em;
    background-color: #802BB1;
    position: absolute;
    left: 8px;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteButton {
    height: 2em;
    width: 2em;
    background-color: #802BB1;
    padding: 5px;
    border-radius: 0.5em;   
}
.username-container input {
    display: none; /* Hide the input field initially */
}

.username-container:focus-within input {
    display: inline-block; /* Show the input field when button is focused */
}

/* --- END --- */

#edit {
    height: 1em;
    width: 1em;
}


.editContainer {
    height: 2em;
    width: 2em;
    background-color: #802BB1;
    position: absolute;
    left: 3em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoutConfirmation {
    height: 1em;
    width: 1em;
}


.logoutConfirmationContainer {
    height: 2em;
    width: 2em;
    background-color: #802BB1;
    position: absolute;
    left: 5.5em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- END --- */



/* --- LEFT BAR STYLES --- */

.nav {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.leftBar {
    height: 98vh;
    width: 30vw;
    float: left;
    border-right: 3px solid #802BB1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow-y: auto;
}

.options {
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9em;
    height: 3em;
    background-color: #48355E;
    border-radius: 1em;
    color: #802BB1;
    font-family: fantasy;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.options img {
    max-width: 50%;
    max-height: 50%;
}

.options:hover {
    background-color: #583f76;
    transform: scale(1.05);
}

.options-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: initial;
    height: initial;
    border-radius: 1em;
}

.pfp img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
}

.pfp {
    width: 9em;
    height: 9em;
    overflow: hidden;
    border: 2px solid #802BB1;
    border-radius: 360px;
    margin-top: 5em;
    background-color: rgb(23, 23, 23);
    position: relative;
}

.name {
    font-size: 1.5em;
    font-family: fantasy;
    color: #802BB1;
}

#content-break {
    max-width: 90%;
    height: 2px;
    background-color: #802BB1;
    border: none;
    animation: drawLine 2s ease forwards;
    margin-top: 2em;
    margin-bottom: 4em;
}

/* --- END --- */



/* --- POSTS POPUP STYLES --- */


.posts {
    width: 70%;
    /* Dynamic width for larger screens */
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #352d4d9f;
    border: 2px solid #352d4d;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 3rem 0 4rem 0;
    gap: 2rem;
    margin: 0 auto;
    /* Center the posts section */
    grid-column: 2/-1;
    margin-top: 4em;
}

.post {
    background-color: #564F6F;
    width: 700px;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* Center all content in the post when there's no image */
.post.noImage .postBody {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Make content container centered and full width when no image */
.postContentContainer.noImage {
    text-align: left;
    width: 400px;
}

.postBody {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.postTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
}

.postHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.postContentContainer {
    background-color: #4C495D;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 400px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
}

.postContent {
    font-size: 1.2em;
    color: #D1D7E0;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postPFP {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #D1D7E0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.postAuthor {
    font-size: 12px;
    color: #D1D7E0;
    margin: 0;
}

.imageContainer {
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 1em;
    border: 2px solid #D1D7E0;
    overflow: hidden;
}

.postImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
}

.postOptions {
    background-color: #4C495D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: #D1D7E0;
    width: auto;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.postDate {
    font-size: 0.9em;
    margin-top: 5px;
    text-align: center;
    color: #D1D7E0;
}

.option {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.likeIcon,
.dislikeIcon,
.commentIcon {
    width: 34px;
    height: 34px;
}

.counters {
    margin: 0;
    font-size: 0.9em;
}


/* --- END --- */



/* --- OVERALL POPUP STYLES --- */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition-duration: 0.5s;
    width: 500px;
    height: auto;
    background-color: #2D283E;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    margin-top: -75px;
    padding-bottom: 9vh;
}

.inside-popup {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-close {
    position: absolute;
    top: 0;
    right: 16px;
    text-decoration: none;
    color: #802BB1;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    transition: opacity 0.5s;
}

.popup-close img {
    width: 25px;
    height: 25px;
}

/* --- END --- */


/* --- LOGOUT CONFIRMATION POPUP STYLES --- */

#logout-confirmation:target {
    display: flex;
}

#logout-confirmation:target .popup-content {
    display: flex;
    animation: slideFadeIn 0.5s forwards;
}

.logout-title {
    color: #802BB1;
    font-size: 1.7em;
    font-family: fantasy;

}

.logout-options-container {
    display: flex;
    gap: 2em;
    margin-top: 2em
}

.logout-options {
    background-color: #352d4d;
    width: 7em;
    height: 4em;
    border: 2px solid #802BB1;
    color: #802BB1;
    border-radius: 2em;
    cursor: pointer;
}

/* --- END --- */


/* --- EDIT PROFILE POPUP STYLES --- */

#edit-profile:target {
    display: flex;
}

.container {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 18.8px;
    font-size: 17px;
    color: #b8b8b8;
}

.button-wrap {
    position: relative;
}

.upload-title {
    color: #802BB1;
    font-family: fantasy, monospace;
}

.buttonn {
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 1em;
    background-color: #3c2f63;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #802BB1;
    margin-right: 8em;
    outline: none;
    border: 2px solid #802BB1;
}

.buttonn:hover {
    background-color: #802BB1;
    color: #2D283E;
}

#upload-button {
    margin-top: 2em;
    width: 10em;
    align-self: center;
    background-color: #3c2f63;
    font-size: 1em;
    height: 3em;
    color: #802BB1;
    border-radius: 2em;
    border: 2px solid #802BB1;
}

#upload-button:hover {
    background-color: #802BB1;
    color: #2D283E;
}


#edit-profile:target .popup-content {
    display: flex;
    animation: slideFadeIn 0.5s forwards;
}

/* --- END --- */



/* --- KEY FRAMES --- */

@keyframes drawLine {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --- END --- */



/* --- MEDIA QUERIES --- */

@media(min-width:1232px) {
    .options {
        height: 5em;
    }
}

/* @media (max-width:1024px) {
    #posts {
        width: 600px;
    }

    .post {
        width: 530px;
    }

    #close {
        margin-left: 26em;
    }
} */

/* -- TABLET -- */
/* @media (max-width:768px) {
    #posts {
        width: 500px;
    }

    .post {
        width: 400px;
    }

    #close {
        margin-left: 16em;
    }
} */

/* @media (max-width:686px) {
    .nav {
        flex-direction: column;
    }

    .options {
        width: 250px;
    }
} */

/* -- MOBILE L -- */
/* @media (max-width:515px) {
    #posts {
        width: 340px;
    }

    .post {
        width: 270px;
    }

    #close {
        margin-left: 9em;
    }
} */

/* -- MOBILE S -- */
/* @media (max-width: 320px) {
    #posts {
        width: 300px;
    }

    .post {
        width: 270px;
    }

    #close {
        margin-left: 0em;
    }
} */

/* --- END --- */