/* --- SCROLL BAR STYLES --- */

html::-webkit-scrollbar {
    width: 0.4vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #802BB1;
    border-radius: 3px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #8a71a6;
}

html::-webkit-scrollbar-track {
    background-color: #48355E;
}

/* --- END --- */

body {
    font-family: Arial, sans-serif;
    background-color: #2D283E;
}

html {
    scroll-behavior: smooth;
}


.pfp img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-top: 1em;
}

.pfp {
    width: 9em;
    height: 9em;
    overflow: hidden;
    border: 2px solid #802BB1;
    border-radius: 360px;
    margin-top: 5em;
    background-color: rgb(23, 23, 23);
}

.name {
    font-size: 1.5em;
    font-family: fantasy;
    color: #802BB1;
}

.all {
    display: grid;
    grid-template-columns: 30vw 70vw;
}

#home {
    height: 2em;
    width: 2em;
}

#homeContainer {
    height: 3em;
    width: 3em;
    background-color: #802BB1;
    position: absolute;
    left: 8px;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-break {
    max-width: 90%;
    height: 2px;
    background-color: #802BB1;
    border: none;
    animation: drawLine 2s ease forwards;
    margin-top: 4em;
    margin-bottom: 4em;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9em;
    height: 5em;
    background-color: #48355E;
    border-radius: 1em;
    color: #802BB1;
    font-family: fantasy;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.options img {
    max-width: 50%;
    max-height: 50%;
}

.options:hover {
    background-color: #583f76;
    transform: scale(1.05);

}

.options-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

#posts:target {
    display: flex;
}

.close {
    background-color: #3c2f63;
    width: 8em;
    color: #802BB1;
    height: 3em;
    border-radius: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close:hover {
    background-color: #413567;
}

#close {
    text-decoration: none;
    position: sticky;
    top: 4px;
    margin-left: 35em;
    z-index: 5;
}

#posts {
    width: 800px;
    border-radius: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #352d4d;
    margin-bottom: 3rem;
    padding-bottom: 4rem;
    padding-top: 3rem;
    gap: 2rem;
    animation-duration: 2s;
    margin-top: 5em;
    grid-column: 2/-1;
    justify-self: center;
}

.post {
    background-color: #564F6F;
    width: 700px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    color: #D1D7E0;
    flex-direction: column;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

#npost {
    align-self: start;
    margin-left: 3em;
    font-family: fantasy;
    font-size: 1.4em;
    color: #802BB1;
    margin-bottom: 1em;
}


.leftBar {
    height: 98vh;
    width: 30vw;
    border-right: 3px solid #802BB1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    grid-column: 1/2;
}


@keyframes drawLine {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@media (max-width:1024px) {
    #posts {
        width: 700px;
    }

    .post {
        width: 550px;
    }

    #close {
        margin-left: 26em;
    }
}

/* -- TABLET -- */
@media (max-width:768px) {
    #posts {
        width: 500px;
    }

    .post {
        width: 400px;
    }

    #close {
        margin-left: 16em;
    }
}

@media (max-width:686px) {
    .nav {
        flex-direction: column;
    }

    .options {
        width: 250px;
    }
}

/* -- MOBILE L -- */
@media (max-width:515px) {
    #posts {
        width: 340px;
    }

    .post {
        width: 270px;
    }

    #close {
        margin-left: 9em;
    }
}

/* -- MOBILE S -- */
@media (max-width: 320px) {
    #posts {
        width: 300px;
    }

    .post {
        width: 270px;
    }

    #close {
        margin-left: 0em;
    }
}

/* --- END --- */