body {
    font-family: Arial, sans-serif;
    background-color: #2D283E;
}

html {
    scroll-behavior: smooth;
}



/* --- SCROLL BAR STYLES --- */

html::-webkit-scrollbar {
    width: 0.4vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #802BB1;
    border-radius: 3px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #8a71a6;
}

html::-webkit-scrollbar-track {
    background-color: #48355E;
}

/* --- END --- */



/* --- OVERALL PAGE STYLES --- */

.all {
    display: grid;
    grid-template-columns: 30vw 70vw;
}

#home {
    height: 2em;
    width: 2em;
}

#homeContainer {
    height: 3em;
    width: 3em;
    background-color: #802BB1;
    position: absolute;
    left: 8px;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#edit {
    height: 2em;
    width: 2em;
}


#editContainer {
    height: 3em;
    width: 3em;
    background-color: #802BB1;
    position: absolute;
    left: 4.5em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- END --- */



/* --- LEFT BAR STYLES --- */

.nav {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.leftBar {
    height: 98vh;
    width: 30vw;
    float: left;
    border-right: 3px solid #802BB1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow-y: auto;
}

.options {
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9em;
    height: 3em;
    background-color: #48355E;
    border-radius: 1em;
    color: #802BB1;
    font-family: fantasy;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.options img {
    max-width: 50%;
    max-height: 50%;
}

.options:hover {
    background-color: #583f76;
    transform: scale(1.05);
}

.options-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: initial;
    height: initial;
    border-radius: 1em;
}

.pfp img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
}

.pfp {
    width: 9em;
    height: 9em;
    overflow: hidden;
    border: 2px solid #802BB1;
    border-radius: 360px;
    margin-top: 5em;
    background-color: rgb(23, 23, 23);
    position: relative;
}

.name {
    font-size: 1.5em;
    font-family: fantasy;
    color: #802BB1;
}

#content-break {
    max-width: 90%;
    height: 2px;
    background-color: #802BB1;
    border: none;
    animation: drawLine 2s ease forwards;
    margin-top: 2em;
    margin-bottom: 4em;
}

/* --- END --- */



/* --- POSTS POPUP STYLES --- */

#posts:target {
    display: flex;
}

#posts {
    float: right;
    width: 80%;
    border-radius: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #352d4d;
    margin-bottom: 3rem;
    padding-bottom: 4rem;
    padding-top: 3rem;
    gap: 2rem;
    animation-duration: 2s;
    margin-top: 5em;
    grid-column: 2/-1;
    justify-self: center;
    align-self: center;
}

.post {
    background-color: #564F6F;
    width: 100%;
    height: 500px; /* Adjust height as needed */
    border-radius: 20px;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-evenly; /* Space between left and right content */
    padding: 10px; /* Optional padding inside the post */
    position: relative; /* Position relative to contain the absolute child */
    animation: appear linear;
    flex-direction: column;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.post-option {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer;
}

.postTitle {
    margin: 0px;
    font-size: 1.5em;
    text-decoration: underline;
    color: #D1D7E0;
}

.postContent {
    font-size: 1.2em;
    color: #D1D7E0;
    margin: 0px;
}

.imageContainer {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.postImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 2em;
}

.postAuthor {
    margin: 0;
    font-size: 1.55em;
    color: #D1D7E0;
}

.postWithOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 80%;
}

.postOptions {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #D1D7E0;
    gap: 1em;

}

.likeIcon,
.dislikeIcon,
.commentIcon {
    width: 24px;
    height: 24px;
    margin-right: 2px;
}

.option {
    display: flex;
    gap: 0.2em;
}

.counters {
    margin: 0;
    margin-top: 4px;
}

/* --- END --- */



/* --- OVERALL POPUP STYLES --- */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition-duration: 0.5s;
    width: 500px;
    height: auto;
    background-color: #2D283E;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    margin-top: -75px;
    padding-bottom: 9vh;
}

.inside-popup {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}

.popup-close {
    position: absolute;
    top: 0;
    right: 16px;
    text-decoration: none;
    color: #802BB1;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    transition: opacity 0.5s;
}

.popup-close img {
    width: 25px;
    height: 25px;
}

/* --- END --- */



/* --- EDIT PROFILE POPUP STYLES --- */

#edit-profile:target {
    display: flex;
}

.container {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 18.8px;
    font-size: 17px;
    color: #b8b8b8;
}

.button-wrap {
    position: relative;
}

.upload-title {
    color: #802BB1;
    font-family: fantasy, monospace;
}

.button {
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 1em;
    background-color: #3c2f63;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #802BB1;
    margin-right: 8em;
    outline: none;
    border: 2px solid #802BB1;
}

.button:hover {
    background-color: #802BB1;
    color: #2D283E;
}

#upload-button {
    margin-top: 2em;
    width: 10em;
    align-self: center;
    background-color: #3c2f63;
    font-size: 1em;
    height: 3em;
    color: #802BB1;
    border-radius: 2em;
    border: 2px solid #802BB1;
}

#upload-button:hover {
    background-color: #802BB1;
    color: #2D283E;
}


#edit-profile:target .popup-content {
    display: flex;
    animation: slideFadeIn 0.5s forwards;
}

/* --- END --- */



/* --- KEY FRAMES --- */

@keyframes drawLine {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --- END --- */



/* --- MEDIA QUERIES --- */

@media(min-width:1232px) {
    .options {
        height: 5em;
    }
}

/* @media (max-width:1024px) {
    #posts {
        width: 600px;
    }

    .post {
        width: 530px;
    }

    #close {
        margin-left: 26em;
    }
} */

/* -- TABLET -- */
/* @media (max-width:768px) {
    #posts {
        width: 500px;
    }

    .post {
        width: 400px;
    }

    #close {
        margin-left: 16em;
    }
} */

/* @media (max-width:686px) {
    .nav {
        flex-direction: column;
    }

    .options {
        width: 250px;
    }
} */

/* -- MOBILE L -- */
/* @media (max-width:515px) {
    #posts {
        width: 340px;
    }

    .post {
        width: 270px;
    }

    #close {
        margin-left: 9em;
    }
} */

/* -- MOBILE S -- */
/* @media (max-width: 320px) {
    #posts {
        width: 300px;
    }

    .post {
        width: 270px;
    }

    #close {
        margin-left: 0em;
    }
} */

/* --- END --- */